p,
table,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}