$color-warning: #f8d24e;
$color-white: #fcfcfc;
$color-black: #000;
$color-grean: #0a8817;
$color-grean-light: #84a178;
$color-gray-400: #ababab;

body {
  font-family: 'Montserrat', sans-serif;
  background: #84A178;
}
