@import './common';
@import './layouts/header-hero';
@import './layouts/products';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/gallery';
@import './layouts/costomer-reviews';
@import './layouts/contacts';
@import './layouts/footer';