<!-- advantages -->
<section class="advantages text--white">
  <div class="container-fluid container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <i class="icon--cow icon"></i>
        <p class="advantages__list-title">721</p>
        <p class="advantages__list-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <i class="icon icon--weight"></i>
        <p class="advantages__list-title">16kg</p>
        <p class="advantages__list-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <i class="icon icon--ice-crema"></i>
        <p class="advantages__list-title">84</p>
        <p class="advantages__list-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
