<section>
    <div class="container">
        <address>
            <h2 class="visually-hidden">Contacts</h2>
            <ul class="contacts-box-list">
                <li class="contacts-box-item">
                    <div class="dicor-contacts-title">
                        <h3 class="contacts-title">Cafe</h3>
                    </div>
                    <p class="contacts-city">Chicago</p>
                    <a class="physical-adress" href="">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    <div class="border-day-time">
                        <p class="contacts-day">Monday - Friday</p>
                        <p class="contacts-time">06:00 AM - 10:00 PM</p>
                        <p class="contacts-day">Saturday - Sunday</p>
                        <p class="contacts-time">08:00 AM - 16:00 PM</p>
                    </div>
                    <a class="contacts-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                <li class="contacts-box-item">
                    <div class="dicor-contacts-title">
                        <h3 class="contacts-title">Foodtruck</h3>
                    </div>
                    <p class="contacts-city">Los Angeles</p>
                    <a class="physical-adress" href="">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    <div class="border-day-time">
                        <p class="contacts-day">Monday - Friday</p>
                        <p class="contacts-time">06:00 AM - 10:00 PM</p>
                        <p class="contacts-day">Saturday - Sunday</p>
                        <p class="contacts-time">08:00 AM - 16:00 PM</p>
                    </div>
                    <a class="contacts-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                <li class="contacts-box-item">
                    <div class="dicor-contacts-title">
                        <h3 class="contacts-title">Cafe</h3>
                    </div>
                    <p class="contacts-city">New York</p>
                    <a class="physical-adress" href="">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    <div class="border-day-time">
                        <p class="contacts-day">Monday - Friday</p>
                        <p class="contacts-time">06:00 AM - 10:00 PM</p>
                        <p class="contacts-day">Saturday - Sunday</p>
                        <p class="contacts-time">08:00 AM - 16:00 PM</p>
                    </div>
                    <a class="contacts-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
            </ul>
        </address>
<div class="btn-flex">
            <button type="button" class="btn-frst" open-btn>
                Our Locations
                <svg class="icon-arrow" width="12px" height="12px">
                    <use href="./images/about/sprite-about.svg#icon-right"></use>
                </svg>
            </button>
            <button type="button" class="btn-scnd" open-btn>
                Franchise
                <svg class="icon-arrow" width="12px" height="12px">
                    <use href="./images/about/sprite-about.svg#icon-right"></use>
                </svg>
            </button>
</div>
    </div>
</section>