<section>
    <div>
        <address>
            <h2 class=".visually-hidden">Contacts</h2>
            <ul class="contacts-box-list">
                <li class="contacts-box-item">
                    <h3 class="contacts-title"></h3>
                    <p></p>
                    <a href=""></a>
                    <p></p>
                    <p></p>
                    <a href=""></a>
                    <a href=""></a>
                </li>
                <li class="contacts-box-item"></li>
                <li class="contacts-box-item"></li>
            </ul>
        </address>
    </div>
    <button type="button"></button>
    <button type="button"></button>
</section>