<!--Review-page-->
<section class="section review__page">

  <div class="container container__banner">
    <h2 class="visually-hidden">Відгуки клієнтів</h2>
    <ul class="slider-box">
      <li><img class="review__image" src="./images/review/icecream-reviews-main.png" alt="icecream"></li>
      <li><img class="review__image" src="./images/review/icecream-reviews-main.png" alt="icecream"></li>
      <li><img class="review__image" src="./images/review/icecream-reviews-main.png" alt="icecream"></li>
    </ul>
  </div>

  <div class="container container__review">
    <div class="container__slider">
      <img class="review__photo" src="./images/review/icecream-reviews-client.jpg" alt="photo__client" width="85">
      <p class="review__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
        addition, you have
        beautiful
        serving, cozy atmosphere and polite staff.
      </p>
      <h3 class="review__title">Emily, Los Angeles</h3>
      <!-- <ul class="review__point">
        <li class="review__item"></li>
        <li class="review__item"></li>
        <li class="review__item"></li>
      </ul> -->
    </div>
  </div>
</section>