<!--Review-page-->
<section class="section review__page" id="galllery">


  <div class="container-gallery">
    <div class="swiper">
  
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/review/slider1.jpg" width="1013" alt="Ice cream">
        </div>
        <div class="swiper-slide">
          <img src="./images/review/slider2.jpg" width="1013" alt="Ice cream">
        </div>
        <div class="swiper-slide">
          <img src="./images/review/slide3.jpg" width="1013" alt="Ice cream">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  
  </div>
  
  <div class="container container__review">
    <div class="swiper">
      <div class="swiper-wrapper">
  
        <div class="swiper-slide">
          <img class="review__photo" src="./images/review/icecream-reviews-client.jpg" alt="photo__client" width="85">
          <p class="review__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful
            serving, cozy atmosphere and polite staff.</p>
          <h3 class="review__title">Emily, Los Angeles</h3>
        </div>
        <div class="swiper-slide">
          <img class="review__photo" src="./images/review/icecream-reviews-client_2.jpg" alt="photo__client" width="85">
          <p class="review__text">Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!</p>
          <h3 class="review__title">Bryan, New-York</h3>
        </div>
        <div class="swiper-slide">
          <img class="review__photo" src="./images/review/icecream-reviews-client_3.jpg" alt="photo__client" width="85">
          <p class="review__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always
            served politely and quickly!</p>
          <h3 class="review__title">Diana, Chicago</h3>
        </div>
  
      </div>
      <div class="swiper-pagination"></div>
    </div>
  
  </div>
</section>