<footer>
    <div class="container">
        <h3 class="first-footer-title">Homemade ice cream made</h3>
        <h2 class="second-footer-title">With passion</h2>
        <div class="soc-footer-container">
            <ul class="soc-footer-list">
                <li class="soc-footer-item">
                    <a class="soc-footer-link">
                        <svg class="soc-footer-icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-git-hub-footer"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc-footer-item">
                    <a class="soc-footer-link">
                        <svg class="soc-footer-icon" width="20.4" height="15.87">
                            <use href="./images/icons.svg#icon-telegram-footer"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc-footer-item">
                    <a class="soc-footer-link">
                        <svg class="soc-footer-icon" width="9.35" height="20.4">
                            <use href="./images/icons.svg#icon-fb-footer"></use>
                        </svg>
                    </a>
                </li>
                </a>
            </ul>
        </div>
        <p class="footer-tel">Feel free to contact<a class="footer-link-tel" href="tel:+610383766284">&nbsp+61 (0) 383
                766
                284</a></p>
    </div>
    <div class="footer-company-container">
        <div class="footer-company">
            <p class="footer-text-company">&#169; 2022 - IceCream.</p>
            <p class="footer-text-company">All Rights Reserved.</p>
        </div>
    </div>
</footer>