<section class="header" id="header">
    <div class="container_start">
        <nav>
            <ul class="header__placing">
                <li class="header__logo">
                    <svg class="header__logo-icon">
                        <use href="./images/startpage.svg#icon-logo"></use>
                    </svg>
                </li>
                <li>
                    <ul class="header__nav">
                        <li><a class="link" href="#header">Home</a></li>
                        <li><a class="link" href="#about">How it’s made?</a></li>
                        <li><a class="link" href="#product">Our products</a></li>
                        <li><a class="link" href="#contacts">Contact</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="header__open">
                        <li>
                            <button type="button" class="nav-open"  data-modal-open>
                                <svg class="header__open-icon" height="32px" width="32px">
                                    <use href="./images/startpage.svg#icon-menu"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button class="header__buy" type="button">
                                Buy now
                                <svg height="10px" width="6px">
                                    <use href="./images/startpage.svg#icon-vector"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</section>

<section class="hero">
    <div class="container_start hero__placing">
        <div>
            <h1 class="hero__title">ice cream<br>made with<br>passion</h1>

            <div class="hero__buttons">
                <a class="products-btn link" href="#product">Products</a>
                <a class="advantages-btn link" href="#about">How it’s made?</a>
            </div>

            <ul class="hero__descr">
                <li><span class="icecream_plate"></span></li>
                <li>
                    <div class="hero__descr-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et                            
                        </p>
                        <a href="#gallery">
                            <svg class="hero__descr-svg" height="16px" width="40px">
                                <use href="./images/startpage.svg#icon-arrow"></use>
                            </svg>
                        </a>
                    </div>

                </li>
            </ul>
        </div>

        <div class="hero__icecream">
            <span class="icecream"></span>
            <ul class="hero__placing-right length">
                <li>16</li>
                <li>cafes</li>
            </ul>
            <ul class="hero__placing-right">
                <li>23</li>
                <li>food trucks</li>
            </ul>
        </div>

        <span class="hero__dots"></span>
    </div>
</section>


<div class="mob_menu is-hidden" data-modal>
    <div class="modal-footer">
        <svg class="header__logo-icon">
            <use href="./images/startpage.svg#icon-logo"></use>
        </svg>
    
        <svg class="header__close-icon" data-modal-close>
            <use href="./images/startpage.svg#icon-headerclose"></use>
        </svg>
    </div>
    <div class="modal-nav">
        <ul class="header__nav">
            <li><a class="link" href="#header">Home</a></li>
            <li><a class="link" href="#about">How it’s made?</a></li>
            <li><a class="link" href="#product">Our products</a></li>
            <li><a class="link" href="#contacts">Contact</a></li>
            <li>
                <button class=" modal_buy" type="button">
                    Buy now
                    <svg height="10px" width="6px">
                        <use href="./images/startpage.svg#icon-vector"></use>
                    </svg>
                </button>
            </li>
        </ul>

    </div>
</div>

