.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 164px;
  min-height: 42px;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid $color-warning;
  background-color: $color-warning;
  color: $color-black;
  outline: none;
  translate: all 0.3s ease-in;
  transition-delay: 0.15s;
  @include font(600, 14px, 1.28, normal);
  svg {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    background: $color-grean;
    border-color: $color-grean;
  }
  &:focus {
    color: $color-white;
  }
  &:disabled {
    background: $color-gray-400;
    cursor: not-allowed;
  }
}

.about {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 64px;
  background: $color-grean-light;
  @include font(400, 12px, 1.62, 0.04em);

  &__subtitle {
    margin-bottom: 12px;
    @include font(700, 18px, 1.22, 0.04em);
  }
  &__title {
    @include font(400, 30px, 1.26, 0.06em);
    margin-bottom: 32px;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    &-text {
      margin-bottom: 6px;
    }
    p {
      margin-bottom: 4px;
    }
  }
}

.pic {
  position: relative;
  margin-top: 22px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 999px;
    top: -22px;
    left: 0;
    right: 0;
  }
  picture {
    position: relative;
    z-index: 1;
  }
  // display: block;
  // margin: auto;
  // margin-bottom: 40px;
  // width: 279px;
  // height: 278px;
  // padding-top: 22px;
  // background: linear-gradient(
  //     0deg,
  //     rgba(248, 210, 78, 0.7),
  //     rgba(248, 210, 78, 0.7)
  //   ),
  //   #d9d9d9;
  // box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  // border-radius: 140px;
}

@include tablet {
  .about {
    &__title {
      margin-bottom: 72px;
      font-size: 34px;
    }
    &__subtitle {
      font-size: 22px;
    }
    &__content {
      margin-bottom: 60px;
      grid-template-columns: 1fr 1fr;
      text-align: left;
      &-text {
        margin-bottom: 24px;
        &-wrapper {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
        }
      }
      p {
        margin-bottom: 8px;
      }
    }
  }
  .pic {
    margin-top: 26px;
    &::before {
      top: -26px;
    }
  }
}

@include desctop {
  .about {
    font-size: 16px;
    &__title {
      margin-bottom: 82px;
      font-size: 36px;
    }
    &__subtitle {
      font-size: 30px;
    }
    &__content {
      gap: 109px;
      &-text {
        margin-bottom: 46px;
      }
    }
  }
  .pic {
    margin-top: 39px;
    &::before {
      top: -39px;
    }
  }
}
