.about {
  padding-top: 60px;
  background-color: #84a178;
}

.pic {
  display: block;
  width: 279px;
  height: 278px;
  padding-top: 22px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
}
