.advantages {
  padding-bottom: 64px;
  background-color: $color-grean-light;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 28px;
  text-align: center;
  font-weight: 700;
  line-height: 1.7;
  font-size: 12px;
  &-title {
    margin-bottom: 16px;
    font-size: 36px;
    text-transform: uppercase;
  }
  &-description {
    max-width: 230px;
    margin: 0 auto;
  }
}
.icon {
  display: inline-flex;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background-color: $color-warning;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &--cow {
    background-image: url(../images/about/cow.png);
  }
  &--weight {
    background-image: url(../images/about/weight.png);
  }
  &--ice-crema {
    background-image: url(../images/about/ice-crema.png);
  }
}

@include tablet {
  .advantages {
    padding-bottom: 204px;
    &__list {
      grid-template-columns: repeat(3, 152px);
      font-size: 14px;
      &-title {
        font-size: 48px;
      }
    }
  }
  .icon {
    margin-bottom: 32px;
  }
}

@include desctop {
  .advantages {
    padding-bottom: 178px;
    &__list {
      font-size: 16px;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
      &-title {
        font-size: 58px;
      }
    }
  }
  .icon {
    margin-bottom: 40px;
  }
}
