.contacts-box-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet {
        flex-wrap: nowrap;
    }
}

.contacts-box-item {
    background-color: #FCFCFC;
    border-radius: 24px;
    padding: 40px 32px 24px 32px;
    @include calc(1, 16px)
    // padding-top: 40px;
    // padding-right: 32px;
    // padding-bottom: 24px;
    // padding-left: 32px;

}

.contacts-title {
    @include font (500, 12px, calc(14 / 12), 0.04em);
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #131313;;
    background-color: #F8D24E;
    width: 80px;
    height: 22px
}

.contacts-city {
@include font (500, 12px, calc(22 / 12), 0.04em);
    color: #131313;
}

.physical-adress {
@include font (500, 12px, calc(22 / 12), 0.04em);
    color: #D6936D;
}

.border-day-time {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.contacts-day {
@include font (500, 12px, calc(22 / 12), 0.04em);
    color: #131313;
}

.contacts-time {
@include font (500, 12px, calc(22 / 12), 0.04em);
    color: #ABABAB;
}

.contacts-tel {
@include font (500, 12px, calc(19 / 12), null);
    color: #131313;
}

.contacts-email {
@include font (500, 12px, calc(19 / 12), null);
    color: #131313;
}