* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.review__page {
  background-color: #fcfcfc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mobile {
    background-image: url('../images/review/icecream-reviews_bg_mobile.png');
  }
  @include tablet {
    background-image: url('../images/review/icecream-reviews_bg_tablet.png');
  }
  @include desctop {
    background-image: url('../images/review/icecream-reviews_bg_desktop.png');
  }
}

.container__banner {
  position: relative;
}

.container-gallery {
  margin: 0 auto;
  width: 320px;
  padding: 0 20px 94px 20px;
  @include tablet {
    width: 768px;
    padding: 0 32px 94px 20px;
  }
  @include desctop {
    width: 1200px;
    padding: 0 93px 94px 94px;
  }
}

.itc-slider.itc-slider-1 {
  top: -32px;
  @include tablet {
    top: -144px;
  }
  @include desctop {
    top: -98px;
  }
}

.container__review {
  margin: 0 auto;
  width: 320px;
  padding: 50 20px 40px 20px;
  @include tablet {
    width: 768px;
    padding: 50 32px 50px 32px;
  }
  @include desctop {
    width: 1200px;
    padding: 70 116px 70px 117px;
  }
}

.slider-box {
  width: 280px;
  margin: 0 auto;
  position: absolute;
  top: -32px;
  @include tablet {
    width: 704px;
    top: -144px;
  }
  @include desctop {
    width: 1013px;
    top: -35px;
  }
}

// .review__image {
//   margin-bottom: 80px;
//   align-items: center;
//   top: -32px;
//   margin-left: auto;
//   margin-right: auto;
//   position: absolute;
//   @include mobile {
//     width: 280px;
//     top: -32px;
//   }
//   @include tablet {
//     width: 704px;
//     top: -144px;
//   }
//   @include desctop {
//     width: 1013px;
//     top: -35px;
//   }
// }

.review__photo {
  // align-items: center;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 32px;
  border-radius: 50%;
  width: 85px;
  margin: 0 auto 32px auto;

  // @include mobile {
  //   margin-top: 178px;
  // }
  // @include tablet {
  //   margin-top: 283px;
  // }
  // @include desctop {
  //   margin-top: 464px;
  // }
}

.review__text {
  background: #84a178;
  border-radius: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  margin-bottom: 32px;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  padding: 35px 39px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    padding: 28px 80px 29px 80px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    padding: 43px 74px 41px 73px;
  }
}

.review__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #131313;
  margin-bottom: 0;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
    line-height: 186%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 186%;
    margin-bottom: 20px;
  }
}
<<<<<<< Updated upstream
=======

.swiper {
  width: auto;
  height: auto;
  padding-bottom: 30px;

  @media screen and (min-width:768px) {
    padding-bottom: 38px;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #84A178;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}

span.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}  

