.footer-container {
    padding-bottom: 0;

    @include tablet {
        display: flex;
    }

    @include desctop {
        justify-content: space-between;
    }
}

.footer-title-wrap {
    @include tablet {
        display: flex;
        flex-direction: column
    }
}

.first-footer-title {
    @include font (700, 18px, calc(22 / 18), null);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 16px;
    color: #FCFCFC;

    @include tablet {
        @include font (700, 26px, calc(32 / 26), 0.04em);
        margin-bottom: 8px;
    }

    @include desctop {
        @include font (400, 30px, calc(37 / 30), 0.04em);
        margin-bottom: 14px;
    }
}

.second-footer-title {
    @include font (700, 34px, calc(41 / 34), 0.04em);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 60px;
    color: #FCFCFC;

    @include tablet {
        @include font (700, 48px, calc(59 / 48), 0.06em);
        margin-bottom: 0;
        padding-bottom: 32px;
        max-width: 352px;
    }

    @include desctop {
        @include font (700, 58px, calc(71 / 58), 0.06em);
    }
}

.footer-soctel-wrap {
    @include tablet {
        display: flex;
        flex-direction: column;
    }
}

.soc-footer-list {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-bottom: 20px;

    @include tablet {
        padding-top: 65px;
        margin-bottom: 34px;
        gap: 30px;
    }

    @include desctop {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.soc-footer-item {
    width: 34px;
    height: 34px;
}

.soc-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F8D24E;
    border-radius: 50%;
}

.soc-footer-icon {
    fill: #84A178;

    .soc-footer-link:hover &,
    .soc-footer-link:focus & {
        fill: #FCFCFC;
    }
}

.footer-tel {
    @include font (700, 12px, calc(22 / 12), null);
    text-align: right;
    color: #131313;
    padding-bottom: 40px;

    @include tablet {
        @include font (700, 14px, calc(26 / 14), null);
        min-width: 285px;
        padding-bottom: 0;
    }

    @include desctop {
        @include font (700, 16px, calc(30 / 16), 0.02em);
        margin-bottom: 0;
    }
}

.footer-link-tel {
    color: #FCFCFC;
}

.footer-company-container {
    border-top: 1px solid #E1E1E1;
}

.footer-company {
    padding: 20px;

    @include tablet {
        padding: 12px;
    }
}

.footer-text-company {
    @include font (700, 14px, calc(21 / 14), null);
    text-align: center;
    color: #7A7A7A;

    @include tablet {
        @include font (700, 14px, calc(26 / 14), 0.02em);
    }

    @include desctop {
        @include font (700, 12px, calc(22 / 12), 0.02em);
    }
}

.second-part-text {
    display: block;

    @include tablet {
        display: inline;
    }
}