.footer-container {
    padding-bottom: 0;
    @include tablet {
        display: flex;
    }
}

.footer-title-wrap {
    @include tablet {
        display: flex;
        flex-direction: column
    }
}

.first-footer-title {
    @include font (700, 18px, calc(22 / 18), null);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 16px;
    color: #FCFCFC;
    @include tablet {
        @include font (700, 26px, calc(32 / 26), 0.04em);
        margin-bottom: 8px;
    }
}

.second-footer-title {
    @include font (700, 34px, calc(41 / 34), 0.04em);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 60px;
    color: #FCFCFC;
    @include tablet {
        @include font (700, 46px, calc(59 / 46), 0.06em);
        margin-bottom: 32px;
        max-width: 352px;
    }
}

.footer-soctel-wrap {
    @include tablet {
        display: flex;
        flex-direction: column;
    }
}
.soc-footer-list {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-bottom: 20px;
    @include tablet {
        margin-top: 61px;
        margin-bottom: 34px;
    }
}

.soc-footer-item {
    width: 34px;
    height: 34px;
}

.soc-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F8D24E;
    border-radius: 50%;
}

.soc-footer-icon {
    fill: #84A178;

    .soc-footer-link:hover &,
    .soc-footer-link:focus & {
        fill: #FCFCFC;
    }
}

.footer-tel {
        @include font (700, 12px, calc(22 / 12), null);
        text-align: right;
        color: #131313;
        margin-bottom: 40px;
        @include tablet {
            @include font (700, 14px, calc(26 / 14), null);
            margin-bottom: 0;
            min-width: 285px;
        }
}

.footer-link-tel {
    color: #FCFCFC;
}

.footer-company-container {
border-top: 1px solid #E1E1E1;
}

.footer-company {
    padding: 20px;
}

.footer-text-company {
        @include font (700, 14px, calc(21 / 14), null);
        text-align: center;
        color: #7A7A7A;
        @include tablet {
            @include font (700, 14px, calc(26 / 14), 0.02em);
        }
}

.second-part-text {
    display: block;
}