.first-footer-title {
    @include font (700, 18px, calc(22 / 18), null);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 16px;
}

.second-footer-title {
    @include font (700, 34px, calc(41 / 34), 0.04em);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 60px;
}

.soc-footer-list {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-bottom: 20px;
}

.soc-footer-item {
    width: 34px;
    height: 34px;
}

.soc-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F8D24E;
    border-radius: 50%;
}

.soc-footer-icon {
    fill: #84A178;

    .soc-footer-link:hover &,
    .soc-footer-link:focus & {
        fill: #FCFCFC;
    }
}

.footer-tel {
        @include font (700, 12px, calc(22 / 12), null);
        text-align: right;
        color: #131313;
}

.footer-link-tel {
    color: #FCFCFC;
}

.footer-line {
    width: 100%;
    size: 1px;
    color: #E1E1E1;
}

.footer-text-company {
        @include font (700, 14px, calc(21 / 14), null);
        text-align: center;
        color: #7A7A7A;
}