svg {
    display: block;
}

section {
    font-family: 'Montserrat', sans-serif;
}

.header,
.hero {
    background-color: #84a178;
}

.container_start {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        width: 480px;
    }

    @include tablet {
        width: 768px;
    }

    @include desctop {
        width: 1200px;
    }
}

//--------------------HEADER--------------------//

.header {
    &__placing {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 12px;
        padding-bottom: 50px;

        @include tablet {
            padding-bottom: 14px;
            padding-top: 20px;
        }

        @include desctop {
            padding-bottom: 45px;
            padding-top: 8px;
        }
    }

    &__logo {
        display: block;

        &-icon {
            fill: #f8d24e;
            height: 47px;
            width: 40px;

            @include tablet {
                height: 48px;
                width: 44px;
            }

            @include desctop {
                height: 65px;
                width: 60px;
            }
        }
    }

    &__nav {
        @media screen and (max-width: 1199px) {
            display: none;
        }

        display: flex;
        align-items: center;
        gap: 28px;

        font-weight: 700;
        font-size: 16px;
        line-height: calc(20 / 16);

        & li {

            & a:hover,
            & a:focus {
                color: #f8d24e;
            }

            & a {
                color: #fcfcfc;
            }
        }
    }

    &__open {
        display: flex;
        align-items: center;

        &-icon {
            fill: #ffffff;
            cursor: pointer;

            @include tablet {
                margin-right: 32px;
            }

            @include desctop {
                display: none;
            }
        }
    }
}

.header__buy {
    display: none;
    background-color: #f8d24e;
    padding: 12px 38px 12px 31px;
    text-align: center;
    border-color: transparent;
    border-radius: 10px;

    cursor: pointer;

    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);

    @include tablet {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

//--------------------HERO--------------------//

.hero {
    & .container_start {
        position: relative;
        padding-bottom: 12px;

        & div {
            z-index: 1;
        }

        @include desctop {
            padding-bottom: 65px;
        }
    }

    &__placing {
        display: flex;
        justify-content: space-between;
    }
}

.hero__title {
    padding-bottom: 32px;

    font-family: 'Seymour One', sans-serif;
    font-style: normal;
    font-size: 26px;
    line-height: calc(33 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #fcfcfc;

    @include tablet {
        padding-bottom: 24px;
    }

    @include desctop {
        font-size: 38px;
        line-height: calc(48 / 38);
    }
}

.products-btn {
    border: 2px solid #f8d24e;
    border-radius: 8px;
    padding: 11px 26px;

    color: #000000;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
}

.advantages-btn {
    border-radius: 8px;
    margin-left: 12px;

    color: #f8d24e;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    text-decoration-line: underline;
}

.hero__buttons {
    padding-bottom: 236px;

    @include tablet {
        padding-bottom: 12px;
    }

    @include desctop {
        padding-bottom: 42px;
    }
}

.hero__descr {
    display: flex;
    align-items: center;
}

.icecream_plate {
    display: none;

    background-image: url('/src/images/headerhero/icecream_plate_tablet.png');
    width: 152px;
    height: 152px;
    background-repeat: no-repeat;

    @include tablet {
        display: block;
    }

    @include desctop {
        background-image: url('/src/images/headerhero/icecream_plate_desktop.png');
        width: 225px;
        height: 225px;
        background-repeat: no-repeat;
    }
}

.hero__descr-text {
    display: none;
    max-width: 139px;
    margin-left: 32px;

    color: #fcfcfc;

    font-weight: 400;
    font-size: 12px;
    line-height: 140%;

    @include tablet {
        display: block;
    }

    @include desctop {
        max-width: 200px;
        font-size: 14px;
        margin-left: 16px;
        padding-top: 30px;
    }
}

.hero__descr-svg {
    margin-top: 12px;
    fill: #fcfcfc;

    @include desctop {
        margin-top: 24px;
    }
}

.hero__placing-right {
    display: none;
    flex-direction: column;
    align-items: flex-end;

    &.length {
        margin-bottom: 20px;
        padding-top: 14px;
    }

    & li:first-child {
        font-weight: 900;
        font-size: 28px;
        line-height: calc(34 / 28);
        letter-spacing: 0.04em;
        text-transform: uppercase;

        @include desctop {
            font-size: 46px;
            line-height: calc(56 / 46);
        }
    }

    & li:last-child {
        color: #fcfcfc;

        font-weight: 400;
        font-size: 8px;
        line-height: calc(10 / 8);

        @include desctop {
            font-size: 14px;
            line-height: calc(17 / 14);
        }
    }

    @include tablet {
        display: flex;
    }
}

.icecream {
    display: block;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(55%);
    padding: 0;
    z-index: 1;

    background-image: url('/src/images/headerhero/icecream_mobile.png');
    width: 177px;
    height: 217px;
    background-repeat: no-repeat;

    @include tablet {
        bottom: 0;
        transform: translate(0);
        right: 92px;

        background-image: url('/src/images/headerhero/icecream_tablet.png');
        width: 268px;
        height: 329px;
        background-repeat: no-repeat;
    }

    @include desctop {
        bottom: 0;
        transform: translate(0);
        right: 92px;

        background-image: url('/src/images/headerhero/icecream_desktop.png');
        width: 456px;
        height: 560px;
        background-repeat: no-repeat;
    }
}

.hero__dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    background-image: url('/src/images/headerhero/dots_mobile.png');
    width: 320px;
    height: 50px;
    background-repeat: no-repeat;

    z-index: 0;
    fill: #f8d24e;

    @include tablet {
        background-image: url('/src/images/headerhero/dots_tablet.png');
        width: 100%;
        height: 68px;
    }

    @include desctop {
        background-image: url('/src/images/headerhero/dots_desktop.png');
        width: 100%;
        height: 383px;
    }
}