.product {
  background-color: #fff;
  background-image: url(../images/product/bg-product-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/product/bg-product-mobile-2x.jpg);
  }

  @media screen and (min-width:768px) and (max-width:1199px) {
    background-image: url(../images/product/bg-product-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/product/bg-product-tablet-2x.jpg);
    }
  }

  @media screen and (min-width:1200px) {
    background-image: url(../images/product/bg-product-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/product/bg-product-desktop-2x.jpg);
    }
  }
}

.label-h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;

  @media screen and (min-width:768px) and (max-width:1199px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width:1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.product-h2 {
  font-family: 'Seymour One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  text-align: center;
  margin-bottom: 148px;

  @media screen and (min-width:768px) and (max-width:1199px) {
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 243px;
  }

  @media screen and (min-width:1200px) {
    margin-bottom: 287px;
    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
  }
}

.product-box {
  display: flex;
  flex-wrap: wrap;

}

.product-item {
  position: relative;
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 123px 40px 16px 40px;
  height: 420px;

  &:not(:last-child) {
    margin-bottom: 168px;
  }

  @media screen and (min-width:480px) and (max-width:767px) {
    height: 350px;
  }

  @media screen and (min-width:768px) and (max-width:1199px) {
    width: calc(1/3*100% - (1 - 1/3)*16px);
    height: 428px;
    padding: 108px 26px 12px 26px;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width:1200px) {
    width: calc(1/3*100% - (1 - 1/3)*29px);
    padding: 165px 64px 60px 64px;
    height: 536px;


    &:not(:last-child) {
      margin-right: 29px;
      margin-bottom: 0;
    }
  }
}

.product-item.one {
  background: #AEC6A5;

  &::before {
    content: '';
    position: absolute;
    top: -108px;
    border-radius: 50%;
    padding-bottom: 11px;
    width: 200px;
    height: 211px;
    background:
      no-repeat url(../images/product/ice-cream-tablet.png),
      linear-gradient(0deg, rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)),
      #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background:
        no-repeat top/100% url(../images/product/ice-cream-tablet-2x.png),
        linear-gradient(0deg, rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)),
        #D9D9D9;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
      top: -123px;
      height: 212px;
      padding-bottom: 12px;
    }

    @media screen and (min-width:1200px) {
      width: 302px;
      height: 318px;
      top: -167px;
      padding-bottom: 16px;
      background:
        no-repeat url(../images/product/ice-cream-desktop.png),
        linear-gradient(0deg, rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)),
        #D9D9D9;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background:
          no-repeat top/100% url(../images/product/ice-cream-desktop-2x.png),
          linear-gradient(0deg, rgba(156, 190, 143, 0.7),
            rgba(156, 190, 143, 0.7)),
          #D9D9D9;
      }
    }
  }
}

.product-item.two {
  background: #EFD478;

  &::before {
    content: '';
    position: absolute;
    top: -108px;
    border-radius: 50%;
    padding-bottom: 11px;
    width: 200px;
    height: 211px;
    background:
      no-repeat url(../images/product/ice-coffee-tablet.png),
      linear-gradient(0deg, rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)),
      #D9D9D9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background:
        no-repeat top/100% url(../images/product/ice-coffee-tablet-2x.png),
        linear-gradient(0deg, rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)),
        #D9D9D9;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
      top: -123px;
      height: 212px;
      padding-bottom: 12px;
    }

    @media screen and (min-width:1200px) {
      width: 302px;
      height: 318px;
      top: -167px;
      padding-bottom: 16px;
      background:
        no-repeat url(../images/product/ice-coffee-desktop.png),
        linear-gradient(0deg, rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)),
        #D9D9D9;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background:
          no-repeat top/100% url(../images/product/ice-coffee-desktop-2x.png),
          linear-gradient(0deg, rgba(248, 210, 78, 0.7),
            rgba(248, 210, 78, 0.7)),
          #D9D9D9;
      }
    }
  }
}

.product-item.three {
  background: #D6936D;

  &::before {
    content: '';
    position: absolute;
    top: -108px;
    border-radius: 50%;
    padding-bottom: 11px;
    width: 200px;
    height: 211px;
    background:
      no-repeat url(../images/product/milkshakes-tablet.png),
      linear-gradient(0deg, rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)),
      #D9D9D9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background:
        no-repeat top/100% url(../images/product/milkshakes-tablet-2x.png),
        linear-gradient(0deg, rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)),
        #D9D9D9;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
      top: -123px;
      height: 212px;
      padding-bottom: 12px;
    }

    @media screen and (min-width:1200px) {
      width: 302px;
      height: 318px;
      top: -167px;
      padding-bottom: 16px;
      background:
        no-repeat url(../images/product/milkshakes-desktop.png),
        linear-gradient(0deg, rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)),
        #D9D9D9;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background:
          no-repeat top/100% url(../images/product/milkshakes-desktop-2x.png),
          linear-gradient(0deg, rgba(213, 117, 63, 0.7),
            rgba(213, 117, 63, 0.7)),
          #D9D9D9;
      }
    }
  }
}

.product-h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 40px;

  @media screen and (min-width:768px) and (max-width:1199px) {
    font-size: 22px;

  }

  @media screen and (min-width:1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-bottom: 66px;
  }
}

.product-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;

  @media screen and (min-width:1200px) {
    font-size: 16px;
  }
}

.product-btn {
  margin-top: auto;
}

// -----Modal Window------

.backdrop {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms ease, visibility 250s ease;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 280px;
  max-height: 90%;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 28px 20px;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 40px;
  }
}

.modal-btn-close {
  position: absolute;
  right: 12px;
  top: 12px;
}

.modal-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: #131313;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.modal-img-box {
  width: 132px;
  margin: 0 auto 22px;
  padding-bottom: 7px;
  border-radius: 50%;
  background: linear-gradient(0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.consist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.consist-item {
  width: calc(1 / 4 * 100% - (1 - 1 / 3) * 9px);
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  &:not(:last-child) {
    margin-right: 9px;
  }

  @media screen and (min-width: 768px) {
    width: 65px;
  }
}

.consist-number {
  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131313;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  width: 43px;
  height: 43px;
  margin: 0 auto 8px auto;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(28 / 12);
    height: 53px;
    width: 53px;
  }
}

.consist-name {
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #131313;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 14px;
  }
}

.ingredients {
  margin-bottom: 40px;
  border: none;
  width: 100%;

  & caption {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20);
    text-align: center;
    color: #131313;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.ingredients-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: #131313;
  border: none;
}

.ingredients-count {
  text-align: right;
}

.modal-input {
  display: block;
  width: 100%;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding: 11px 10px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    width: 368px;
    margin: 0 auto 16px auto;
  }
}

.modal-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}

.modal-comments {
  display: block;
  width: 100%;
  height: 84px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding: 11px 10px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    width: 368px;
    margin: 0 auto 32px auto;
  }
}

.modal-comments::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}

.btn-submit {
  background: #f8d24e;
  border-radius: 10px;
  padding: 12px 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  margin: 0 auto;
}